Button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#root {
    -fx-background-image: url("../../assets/mountain.png");
}

#title {
    -fx-blend-mode: difference;
    -fx-text-fill: white;
    -fx-background-color: black;
}

#menu_shade {
    -fx-background-color: gray;
}